<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kioskmake.projectkiosk.domain.menu.MenuRepository">
    
    <insert id="insertMenu" parameterType="kioskmake.projectkiosk.domain.menu.Menu">
    	insert into
    		<choose>
    			<when test="menu_type == 'burger'">
    				hamburger_table
    			</when>
    			<when test="menu_type == 'side'">
    				side_menu_table
    			</when>
    			<when test="menu_type == 'drink'">
    				drink_table
    			</when>
    			<when test="menu_type == 'dessert'">
    				dessert_table
    			</when>
   			</choose>
   		values
   			(
    			0,
    			#{name},
    			#{price},
    			#{sales},
    			#{kcal},
    			#{image},
    			<choose>
	   				<when test="menu_type == 'burger'">
	    				<choose>
	    					<when test="mc_morning_flag == false">
	    						#{burger_type},
	    					</when>
	    					<otherwise>
	    						-1,
	    					</otherwise>
	    				</choose>
	    				1,
	    				0	    				
	    			</when>
	    			<when test="menu_type == 'side'">
	    				#{size},
	    				0,
	    				2,
	    				#{only_mc_morning_flag}
	    			</when>
	    			<when test="menu_type == 'drink'">
	    				#{size},
	    				#{drink_type},
	    				3,
	    				#{only_mc_morning_flag}
	    			</when>
	    			<when test="menu_type == 'dessert'">
	    				4,
	    				#{only_mc_morning_flag}
	    			</when>
    			</choose>
    		)
    </insert>
    
    <select id="getAdminMenuList" parameterType="kioskmake.projectkiosk.domain.menu.Menu" resultType="kioskmake.projectkiosk.domain.menu.Menu">
    	SELECT
			0 AS id,
			'' as menu_type,
		   '' AS NAME,
		   0 as price,
		   0 as kcal,
		   '' AS size,
		   '' as image,
		   
			(select
				COUNT(*)
			from
				hamburger_table ht
				LEFT OUTER JOIN menu_category_table mct ON(mct.id = ht.menu_category_code)
			<if test="menu_type != 'ALL'">
			where
				mct.id = #{menu_type}
			</if>
			)    	
			
			+
			
			(select
				COUNT(*)
			from
				side_menu_table smt
				LEFT OUTER JOIN menu_category_table mct ON(mct.id = smt.menu_category_code)
			<if test="menu_type != 'ALL'">
			where
				mct.id = #{menu_type}
			</if>
			)    	
			
			+
			
			(select
				COUNT(*)
			from
				drink_table dt
				LEFT OUTER JOIN menu_category_table mct ON(mct.id = dt.menu_category_code)
			<if test="menu_type != 'ALL'">
			where
				mct.id = #{menu_type}
			</if>
			)    	
			
			+
			
			(select
				COUNT(*)
			from
				dessert_table dt
				LEFT OUTER JOIN menu_category_table mct ON(mct.id = dt.menu_category_code)
			<if test="menu_type != 'ALL'">
			where
				mct.id = #{menu_type}
			</if>
			)    	 AS total_count
			
	union

	(SELECT
			ht.id,
		   mct.menu_category_name as menu_type,
		   ht.hamburger_name AS NAME,
		   ht.price,
		   ht.kcal,
		   '' AS size,
		   ht.image,
		   0
	FROM
		   hamburger_table ht
		   LEFT OUTER JOIN menu_category_table mct ON(mct.id = ht.menu_category_code)
	<if test="menu_type != 'ALL'">
	where
		mct.id = #{menu_type}
	</if>
	
	UNION
	
	SELECT
		smt.id,
	   mct.menu_category_name as menu_type,
	   smt.side_menu_name AS NAME,
	   smt.price,
	   smt.kcal,
	   if(smt.size like 'none', '', smt.size) AS size,
	   smt.image,
	   0
	FROM
	   side_menu_table smt
	   LEFT OUTER JOIN menu_category_table mct ON(mct.id = smt.menu_category_code)
	<if test="menu_type != 'ALL'">
	where
		mct.id = #{menu_type}
	</if>
	   
	UNION
	
	SELECT
		dt.id,
	   mct.menu_category_name as menu_type,
	   dt.drink_name AS NAME,
	   dt.price,
	   dt.kcal,
	   if(dt.size like 'none', '', dt.size) AS size,
	   dt.image,
	   0
	FROM
	   drink_table dt
	   LEFT OUTER JOIN menu_category_table mct ON(mct.id = dt.menu_category_code)
	<if test="menu_type != 'ALL'">
	where
		mct.id = #{menu_type}
	</if>
	   
	UNION
	
	SELECT
		dt.id,
	   mct.menu_category_name as menu_type,
	   dt.dessert_name AS NAME,
	   dt.price,
	   dt.kcal,
	   '' AS size,
	   dt.image,
	   0
	FROM
	   dessert_table dt
		LEFT OUTER JOIN menu_category_table mct ON(mct.id = dt.menu_category_code)
	<if test="menu_type != 'ALL'">
	where
		mct.id = #{menu_type}
	</if>
	LIMIT #{index}, 10);
	  	
    </select>
    
    
    <select id="getDetails" parameterType="String" resultType="kioskmake.projectkiosk.domain.menu.Menu">
    	select
    		id,
    		sales,
    		image,
    		<choose>
	    	<when test="menu_type == 'burger'">
	    		mc_lunch_flag
	    	</when>
	    	<when test="menu_type == 'side'">
	    		set_menu_flag,
	    		only_mc_morning_flag
	    	</when>
		</choose>
	    from
	    <choose>
	    	<when test="menu_type == 'burger'">
	    		hamburger_table
	    	</when>
	    	<when test="menu_type == 'side'">
	    		side_menu_table
	    	</when>
	    	<when test="menu_type == 'drink'">
	    		drink_table
	    	</when>
	    	<when test="menu_type == 'dessert'">
	    		dessert_table
	    	</when>
	    </choose>
		where
			id = #{id}
	    </select>
    
    
    
    <select id="findMenuListBySelectType" parameterType="kioskmake.projectkiosk.domain.menu.Menu" resultType="kioskmake.projectkiosk.domain.menu.Menu">
        SELECT
            <choose>
                <when test="menu_type == 'sideMenu'">
                    concat(side_menu_name, ' - ', if(size LIKE 'M', '미디엄', '라지')) AS menu_name,
                </when>
                <otherwise>
                    concat(drink_name, ' - ', if(size LIKE 'M', '미디엄', '라지')) AS menu_name,
                </otherwise>
            </choose>
            price,
            kcal
        FROM
            <choose>
                <when test="menu_type == 'sideMenu'">
                    side_menu_table
                </when>
                <otherwise>
                    drink_table
                </otherwise>
            </choose>
        <if test="set_flag == true">
            WHERE
                size LIKE #{size}
                <if test="menu_type == 'sideMenu'">
                    and
                    set_menu_flag = 1
                </if>
        </if>
        ;
    </select>
</mapper>