#container {
    display: flex;
    flex-direction: column;

    padding: 70px 80px 0px;

    position: relative;
}

.title {  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    margin-top: 100px;

    font-size: 80px;
}

main {
    height: 1050px;
}

.select-service {
    display: flex;
    justify-content: space-between;

    margin-top: 200px;
}

.member-ship-boxs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;

    box-shadow: 0px 4px 15px;

    padding: 30px 20px 30px;

    width: 340px;
    height: 340px;
}

.member-ship-boxs span {
    font-size: 30px;
}

/*------------------------------------------*/



.main-modal-div {
    display: flex;
    justify-content: center;
    
    width: 900px;
    height: 1600px;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.user-info-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 700px;
    height: 400px;

    background-color: white;

    position: absolute;
    top: 400px;
}

.user-input p {
    font-size: 25px;
    margin-bottom: 5px;
    
}

.user-input input {
    width: 540px;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    margin-bottom: 20px;
}

.point-btns {
    width: 540px;

    display: flex;
    justify-content: space-between;
}

.po-btns button {
    border: 1px solid #dbdbdb;
    width: 100px;
    height: 50px;
}

.hovers button:hover{
    transition: 0.3s;
    background-color: #dbdbdb;
    color: white;
}

.member-ship-modal-visible {
    display: none;
}
