h2 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 30px;
}

button {
  border: 1px solid #dbdbdb;
  background-color: white;
}

#container {
  padding: 50px;
  position: relative;
}

.modal {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#button {
  width: 250px;
  height: 250px;
}

#cancle-button {
  width: 757px;
  height: 30px;
  font-size: 16px;
  margin-top: 30px;
}

#button img {
  width: 200px;
  height: 200px;
}

.type-box {
  display: none;

  width: 900px;
  height: 1600px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.type {
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.type-content {
  width: 600px;
  height: 500px;

  border: 1px solid #dbdbdb;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.type-content p {
  font-size: 30px;
}

.type-btns {
  margin-top: 20px;
}

.type-btns button {
  width: 220px;
  height: 50px;

  font-size: 20px;
}

.btns button:hover {
  background-color: #dbdbdb;
  transition: 0.3s;
  color: white;
}