<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
    <link rel="stylesheet" href="/static/css/payment.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h2>결제 방법을 선택해 주세요</h2>
        <br>
        <h2>포인트 적립은 "이전단계" 선택</h2>
    </div>
    <div>
        <button>모바일상품권<br>(MOBILE GIFT CARD)</button>
        <button>카드결제<br>(CARD PAYMENT)</button>
    </div>
    <div>
        <button>이전단계</button>
    </div>
</body>
</html>