<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/payment.css">
    <script src="https://kit.fontawesome.com/87ed282d9d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-{SDK-최신버전}.js"></script>
</head>
<body>
    <div id="container">
        <center>
            <div id="logo">
                <img src="/static/img/logo.png" alt="">
            </div>
            <div>
                <h2>결제 방법을 선택해 주세요</h2>
                <br>
                <h2>포인트 적립은 "이전단계" 선택</h2>
            </div>
            <div id="button">
                <button class="pay-button">
                    <img src="/static/img/mobilegiftcard.png" alt="">
                    <br>모바일상품권
                    <br>(MOBILE GIFT CARD)
                </button>
                <button type="button" class="pay-button card-payment">
                    <img src="/static/img/cardpayment.png" alt="">
                    <br>카드결제
                    <br>(CARD PAYMENT)
                </button>
            </div>
            <div>
                <button class="back-button">이전단계</button>
            </div>
        </center>
    </div>
    <div class="point-use-question-modal question-visible">
        <div class="point-use">
            <span class="question-title">포인트를 사용하시겠습니까?</span>
            <div>
                <button type="button" class="point-use-button question-button">사용</button>
                <button type="button" class="payment question-button">결제</button>
            </div>
        </div>
    </div>
    <div class="having-point-info use-point-visible">
        <div class="use-point-body">
            <div class="current-point">
                <p>현재 포인트</p>
                <div class="points-input-box">
                    <input class="current-point-value point-input" disabled>
                </div>
            </div>
            <div class="using-point">
                <p>사용할 포인트</p>
                <input type="text" class="using-point-input point-input">
            </div>
            <div class="final-amount">
                <p>최종 금액</p>
                <div class="points-input-box">
                    <input class="final-amount-input point-input" disabled>
                </div>
            </div>
            <div class="final-amount-confirm hovers">
                <button type="button" class="using-point-button">확인</button>
                <button type="button" class="cancel-button">취소</button>
            </div>
        </div>
    </div>

    <script src="/static/js/payment.js"></script>
</body>
</html>