<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setjumun</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/setjumun.css">
</head>
<body>
    <div id="container">
        <div >
            <h2>세트로 주문하시겠습니까?</h2>
        </div>
        <center>

            <div>
                <button id="button">
                    <img src="/static/img/set.png" alt="">
                    <br>기본 세트 선택</button>
                <button id="button">
                    <img src="/static/img/set.png" alt="">
                    <br>라지 세트 선택</button>
                <button id="button">
                    <img src="/static/img/danpum.png" alt="">
                    <br>단품 선택</button>
            </div>
            <div>
                <button id="cancle-button">취소</button>
            </div>
        </center>
    </div>
</body>
</html>