<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setjumun</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/setjumun.css">
</head>
<body>
    <div>
        <h2>세트로 주문하시겠습니까?</h2>
    </div>
    <div>
        <button>세트선택</button>
        <button>단품선택</button>
    </div>
    <div>
        <button>취소</button>
    </div>
</body>
</html>